.AppStyle {
	text-align: center;
    background-image: url('./assets/devendra-mahajan-uaGhuiatB6k-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease-out;
	/* height: 100%; */
	margin: 0;
	padding: 0;
	min-height: 100vh;

}
main {

	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));

  }

 html,body {
	height: 100%;
	font-size: 22px;
	margin: 0; 
	padding: 0;

}

/* .weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #aca7a7;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    max-width: 400px;
    max-height: 600px; /* Decrease the maximum height as needed */
    /* overflow-y: auto; Add vertical scroll if content exceeds container height */
/* } */ */

.weather-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background: #de1515;
    border-radius: 16px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    max-height: 600px;
    overflow-y: auto;
}



/* 
.weather-container {
	text-align: center;
	padding: 20px;
} */

.weather-info {
	margin: 10px;
	/* background-color: #eee; */
	padding: 10px;
	text-align: center;
}
.weather-info .location{
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	text-shadow: 3px 3px rgb(50, 50,70,0.5);
}
.weather-info .temp{
	position: relative;
	display: inline-block;
	margin: 30px auto;
	background-color: rgba(225, 225, 225, 0.2);
	border-radius: 16px;
	padding: 15px 25px;
	color: #fff;
	font-size: 50px;
	font-weight: 900;
	text-shadow: 3px 6px rgba(0, 0, 0, 0.75);
	text-align: center;
	box-shadow:3px 6px rgba(0, 0, 0, 0.2) ;
}
.weather-info .weather {
	margin-top: -5px;
	color: white;
	font-size: 48px;
	font-weight: 400;
	text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
input {
	padding: 10px;
	width: 400px;
	margin-top: 150px;
	box-shadow:3px 6px rgba(0, 0, 0, 0.2) ;
	border-radius: 10px;


}


button {
	padding: 10px;
	cursor: pointer;
	margin: 1px;
	background-color: #000;
	color: #fff;
	border-radius: 10px;
} 
h1 {
    position: absolute;
    top: 20px; /* Adjust the top distance from the top of the page */
    left: 20px; /* Adjust the left distance from the left side of the page */
    color: #ffffff; /* Set the color of the text */
    font-size: 24px; /* Adjust the font size */
    font-weight: bold; /* Optionally set the font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optionally add text shadow */
    z-index: 100; /* Optionally set the z-index to ensure it's above other elements */
}


